<div class="video-container">
  <!-- <video src="/videos/2.99mb_10s.mp4" muted playsinline preload="metadata"></video> -->
  <!-- <video src="/videos/7.37mb_20s.mp4" muted playsinline preload="metadata"></video> -->
  <div id="scrolly-video"></div>
</div>

<style lang="scss">
  // .video-container {
  //   z-index: -1;
  //   position: fixed;
  //   width: 100%;
  //   height: 100%;
  // }

  .video-container {
    width: 100%;
    height: 500%;
  }

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
