<div class="video-container">
  <div id="scrolly-video"></div>
</div>

<style lang="scss">
  @use '../styles/mixins/medias.scss' as *;

  .video-container {
    width: 100%;
    height: 1000%;
  }
</style>
