<div class="video-container">
  <video class="video" src="/videos/7.37mb_20s.mp4" muted playsinline preload="metadata"></video>
  <div id="scrolly-video"></div>
</div>

<style lang="scss">
  @use '../styles/mixins/medias.scss' as *;

  .video-container {
    width: 100%;
    height: 1000%;
  }

  .video {
    @include pc {
      display: none;
    }
    @include sp {
      position: fixed;
    }
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  #scrolly-video {
    @include sp {
      display: none;
    }
  }
</style>
